<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- Spring IoC基于XML配置，主要是通过bean标签进行Bean的管理的 -->
	<bean id="userService" class="com.kkb.spring.service.UserServiceImpl" ></bean>
	
</beans>